{% extends 'main.html' %}
{% block content %}

<!-- Page Section
    ================================================== -->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="error-template">
                    <h1>
                        Помилка <span>404</span>
                    </h1>
                    <h2>
                        Сторінка не знайдена
                    </h2>
                    <div class="error-details">
                        Можлива помилка в адресі або ця сторінка була вилучена!
                    </div>
                    <div class="error-actions">
                        <a href="index.html" class="butn">
                            На головну
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}